extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#lesson1') Lección 1
  // Header
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Desarrollo del lado servidor:
        h2.text-white-50.mx-auto.mt-2.mb-5 NodeJS, Express y MongoDB
        a.btn.btn-primary.js-scroll-trigger(href='#lesson1') Comenzar
  // Lesson 1 Section
  section#lesson1.lesson1-section.text-center
    h1.mx-auto.my-0.text-uppercase Bienvenido a Express
    .container
    #main_map
  // Footer
  footer.bg-black.small.text-center.text-white-50
    .container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom scripts for this template
  script(src='/javascripts/grayscale.min.js')
  script(src='/javascripts/map.js')

